@media  screen and (min-width:1200px) {
    .container {
        max-width: 1158px;
        gap: 24px;
        } 
        .hero-container{
            padding-top: 112px;
            padding-bottom: 112px;
        }
        .advantages{
        padding-top: 120px;
        padding-bottom: 120px;
        }
        .feature-list {
            gap: 24px;}
        .feature-containers{
            max-width: 264px;
            }
            .feature-containers .title{margin-top: 8px;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                text-align: center;
                letter-spacing: 0.02em;}

                .feature-list .subtitle{
                    font-weight: 400;}
        .feature-containers::before{
            display: block;
        }
        .about{
            display: flex;
            }
    .ourteam{
    padding-top: 120px;
    padding-bottom: 120px;
        }
        .customers{
            padding-top: 120px;
            padding-bottom: 120px;
            }
}
