@media  screen and (min-width:480px){
    .container {
        max-width: 428px;
        } 

      

        .hero-container{

            background-image:linear-gradient(var(--grd)), url("../images/hero-bg-tab.jpg");
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
      .hero-container{
          background-image:linear-gradient(var(--grd)), url("../images/hero-bg-tab-2x.jpg");
        }
      }
}
